<!DOCTYPE html>
<html>
<head>
  <title>SteamSauna - Get some friends, relax, and get your Steam on</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
